.app {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.row {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-top: 8px;
    font-size: 24px;
}

